@import "tailwindcss";
@plugin '@tailwindcss/typography';

/* Use CSS dark selector instead of media queries */
@custom-variant dark (&:where(.dark, .dark *));



@layer base {
  body {
    @apply text-black dark:text-gray-100;
  }
  code {
    @apply font-mono text-amber-500 bg-slate-200 dark:text-amber-500 dark:bg-slate-700 rounded-sm px-1;
  }
  ul {
    @apply list-disc pl-6 marker:text-amber-400 dark:marker:text-amber-500;
  }
}

@layer components {
  .desc {
    @apply text-amber-500 hover:text-amber-400 transition;
    word-break: break-word;
  }
  .text-shadow {
    text-shadow: 0 0 6px #fbbf24;
  }
  .text-shadow-dark {
    text-shadow: 0 0 6px #f59e0b;
  }
}

@theme {
  --font-sans: 'Space Grotesk Variable', sans-serif;
  --font-mono: 'Space Mono', monospace;

  --color-discord: #807cfc;
  --color-discord-light: #9b98fa;
}