---

---

<div
  class:list={[
    "prose",
    "dark:prose-invert",
    "prose-a:no-underline prose-a:text-amber-500 prose-a:hover:text-amber-400 wrap-anywhere",
    "prose-li:marker:text-amber-400 dark:prose-li:marker:text-amber-500",
  ]}
>
  <slot />
</div>
