---

---

<style>
  .prose pre.astro-code {
    color: black;
  }
  .dark .prose pre.astro-code {
    color: white;
  }
  .prose pre.astro-code * {
    color: inherit !important;
  }
</style>

<div
  class:list={[
    "prose",
    "dark:prose-invert",
    "font-subtext",
    "text-white",
    "prose-p:text-white prose-li:text-white prose-strong:text-white prose-em:text-white prose-blockquote:text-white prose-headings:text-white",
    "prose-code:text-black prose-code:dark:text-gray-200 dark:prose-pre:text-white",
    "[&_pre.astro-code]:text-black [&_pre.astro-code]:dark:text-white [&_pre.astro-code_*]:text-inherit",
    "prose-a:no-underline prose-a:text-amber-500 prose-a:hover:text-amber-400 wrap-anywhere",
    "prose-li:marker:text-amber-400 dark:prose-li:marker:text-amber-500",
  ]}
>
  <slot />
</div>
