---
import { DISCORD_URL } from "@/utilities/constants";
---

<div
  class="rounded-sm bg-amber-300 dark:bg-amber-500 dark:text-black p-6 flex flex-col justify-center gap-y-3"
>
  <h2 class="font-bold text-2xl dark:font-extrabold font-mono">
    Want to see more like this?
  </h2>
  <p class="font-subtext text-[18px]">
    Purdue Hackers runs events nearly every week. If you want to be the first to
    find out about new events, you should join our Discord.
  </p>
  <p class="font-subtext text-[18px]">
    You'll also get access to a wonderful, friendly community of hackers who are
    building &amp; shipping cool things every day.
  </p>
  <a
    href={DISCORD_URL}
    class="font-bold text-white text-center"
    target="_blank"
    >
    <div
      class="cursor-pointer w-full px-2 py-2 uppercase text-sm font-pixel font-normal text-white bg-black rounded-sm"
    >
      Join Discord {'>>'}
    </div></a
  >
</div>
