---

---

<div
  class="rounded-lg shadow-md dark:shadow-black/25 bg-gray-200 dark:bg-gray-700 p-4 flex flex-col justify-center gap-y-3"
>
  <h2 class="font-bold text-2xl dark:text-white dark:font-extrabold">
    Want to see more like this?
  </h2><p>
    Purdue Hackers runs events nearly every week. If you want to be the first to
    find out about new events, you should join our Discord.
  </p><p>
    You'll also get access to a wonderful, friendly community of hackers who are
    building &amp; shipping cool things every day.
  </p><a
    href="https://bit.ly/PurdueHackersDiscord"
    class="font-bold text-white text-center"
    target="_blank"
    ><div
      class="rounded-lg shadow-md dark:shadow-black/25 bg-discord-light dark:bg-discord p-2 px-4 text-center hover:scale-105 transform transition"
    >
      Join Discord
    </div></a
  >
</div>
