---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import Card from "./Card.astro";

const events = (await getCollection("events")).sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime()
);
---

<div
  class="container flex flex-col mb-14 sm:pt-14 px-5 sm:px-20 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <h2 class="text-3xl sm:text-4xl font-bold ml-1">Past events</h2><div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:auto-cols-fr text-center"
  >
    {
      events.map((event) => {
        const start = event.data.start;
        const end = event.data.end ? format(event.data.end, "hh:mm a") : "???";
        const name = event.data.name;

        const startTime = format(start, "hh:mm a");

        return (
          <Card
            date={format(start, "MMMM do, yyyy")}
            time={`${startTime}—${end}`}
            name={name}
            link={""}
          />
        );
      })
    }
  </div>
</div>
