---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import Card from "./Card.astro";

const events = (await getCollection("events")).sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime()
);
---

<div
  class="container flex flex-col mb-14 sm:pt-14 px-5 sm:px-20 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <h2 class="text-3xl sm:text-4xl font-bold ml-1">Past events</h2><div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:auto-cols-fr text-center"
  >
    {
      events.map((event) => {
        const start = event.data.start;
        const end = event.data.end ? format(event.data.end, "hh:mm a") : "???";
        const name = event.data.name;

        const startTime = format(start, "hh:mm a");

        return (
          <Card
            date={format(start, "MMMM do, yyyy")}
            time={`${startTime}—${end}`}
            name={name}
            link={""}
          />
        );
      })
    }

    <button
      class="rounded-lg mx-auto py-2 px-2 font-bold dark:text-gray-200 text-xl shadow-md dark:shadow-black/25 border-solid border-2 border-amber-400 dark:border-amber-500 p-2 text-center hover:scale-105 transform transition"
      ><div class="flex flex-row gap-x-1 items-center ml-1">
        <p>Show less</p><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="12" y1="19" x2="12" y2="5"></line><polyline
            points="5 12 12 5 19 12"></polyline></svg
        >
      </div></button
    >
  </div>
</div>
