---
import Card from "./Card.astro";
---

<!-- TODO: implement past event fetching! -->
<!-- This is just an archive from our current events site. -->
<div
  class="container flex flex-col mb-14 sm:pt-14 px-5 sm:px-20 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <h2 class="text-3xl sm:text-4xl font-bold ml-1">Past events</h2><div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:auto-cols-fr text-center"
  >
    <Card
      date="May 2nd, 2025"
      time="8:00 PM—???"
      name="Hack Night 5.25.1"
      link="/hack-night-5251"
    />

    <Card
      date="Apr 25th, 2025"
      time="8:00 PM—10:00 AM"
      name="Hack Night 5.25"
      link="/hack-night-525"
    />

    <Card
      date="Apr 18th, 2025"
      time="8:00 PM—7:00 AM"
      name="Hack Night 5.24"
      link="/hack-night-524"
    />

    <Card
      date="Apr 11th, 2025"
      time="8:00 PM—4:00 AM"
      name="Hack Night 5.23"
      link="/hack-night-523"
    />

    <Card
      date="Apr 4th, 2025"
      time="8:00 PM—7:00 AM"
      name="Hack Night 5.22"
      link="/hack-night-522"
    />

    <Card
      date="Mar 30th, 2025"
      time="5:00—6:00 PM"
      name="VR Laser Tag Tournament"
      link="/vr-laser-tag-tournament"
    />

    <Card
      date="Mar 28th, 2025"
      time="8:00 PM—2:00 AM"
      name="Hack Night 5.21"
      link="/hack-night-521"
    />

    <Card
      date="Mar 14th, 2025"
      time="8:00 PM—2:00 AM"
      name="Hack Lite"
      link="/hack-lite-2025"
    />

    <Card
      date="Mar 7th, 2025"
      time="8:00 PM—4:41 AM"
      name="Hack Night 5.20"
      link="/hack-night-520"
    />

    <Card
      date="Feb 28th, 2025"
      time="8:00 PM—4:45 AM"
      name="Hack Night 5.19"
      link="/hack-night-519"
    />

    <Card
      date="Feb 25th, 2025"
      time="8:00—9:00 PM"
      name="Interpreters Workshop"
      link="/interpreters-workshop"
    />

    <Card
      date="Feb 21st, 2025"
      time="8:00 PM—4:00 AM"
      name="Hack Night 5.18"
      link="/hack-night-518"
    />

    <Card
      date="Feb 14th, 2025"
      time="8:00 PM—7:15 AM"
      name="Hack Night 5.17"
      link="/hack-night-517"
    />

    <Card
      date="Feb 7th, 2025"
      time="8:00 PM—7:15 AM"
      name="Hack Night 5.16"
      link="/hack-night-516"
    />

    <Card
      date="Jan 31st, 2025"
      time="8:00 PM—6:15 AM"
      name="Hack Night 5.15"
      link="/hack-night-515"
    />

    <Card
      date="Jan 24th, 2025"
      time="8:00 PM—6:15 AM"
      name="Hack Night 5.14"
      link="/hack-night-514"
    />

    <Card
      date="Jan 21st, 2025"
      time="7:30—8:30 PM"
      name="Spring 2025 Callout"
      link="/spring-2025-callout"
    />

    <Card
      date="Jan 17th, 2025"
      time="8:00 PM—6:30 AM"
      name="Hack Night 5.13"
      link="/hack-night-513"
    />

    <Card
      date="Dec 8th, 2024"
      time="2:00—6:00 PM"
      name="BURST ✷"
      link="/burst-"
    />

    <Card
      date="Nov 22nd, 2024"
      time="8:00 PM—5:10 AM"
      name="Hack Night 5.12"
      link="/hack-night-512"
    />

    <Card
      date="Nov 15th, 2024"
      time="8:00 PM—9:04 AM"
      name="Hack Night 5.11"
      link="/hack-night-511"
    />

    <Card
      date="Nov 8th, 2024"
      time="8:00 PM—6:00 AM"
      name="Hack Night 5.10"
      link="/hack-night-510"
    />

    <Card
      date="Nov 1st, 2024"
      time="8:00 PM—6:30 AM"
      name="Hack Night 5.9"
      link="/hack-night-59"
    />

    <Card
      date="Oct 25th, 2024"
      time="8:00 PM—5:30 AM"
      name="Hack Night 5.8"
      link="/hack-night-58"
    />

    <Card
      date="Oct 20th, 2024"
      time="8:00 PM—10:20 AM"
      name="Hack Night 5.7"
      link="/hack-night-57"
    />

    <Card
      date="Oct 11th, 2024"
      time="8:00 PM—10:25 AM"
      name="Hack Night 5.6"
      link="/hack-night-56"
    />

    <Card
      date="Oct 4th, 2024"
      time="8:00 PM—9:10 AM"
      name="Hack Night 5.5"
      link="/hack-night-55"
    />

    <Card
      date="Sep 27th, 2024"
      time="8:00 PM—9:00 AM"
      name="Hack Night 5.4"
      link="/hack-night-54"
    />

    <Card
      date="Sep 20th, 2024"
      time="8:00 PM—7:30 AM"
      name="Hack Night 5.3"
      link="/hack-night-53"
    />

    <Card
      date="Sep 13th, 2024"
      time="8:00 PM—8:52 AM"
      name="Hack Night 5.2"
      link="/hack-night-52"
    />

    <Card
      date="Sep 6th, 2024"
      time="8:00 PM—5:15 AM"
      name="Hack Night 5.1"
      link="/hack-night-51"
    />

    <Card
      date="Aug 30th, 2024"
      time="8:00 PM—5:08 AM"
      name="Hack Night 5.0"
      link="/hack-night-50"
    />

    <Card
      date="Aug 27th, 2024"
      time="7:00—8:00 PM"
      name="Fall 2024 Callout"
      link="/fall-2024-callout"
    />

    <Card
      date="Apr 26th, 2024"
      time="8:00 PM—7:45 AM"
      name="Hack Night 4.7.1"
      link="/hack-night-471"
    />

    <Card
      date="Apr 23rd, 2024"
      time="7:00—8:00 PM"
      name="AMA with Steve Wozniak"
      link="/ama-with-steve-wozniak"
    />

    <Card
      date="Apr 19th, 2024"
      time="8:00 PM—6:52 AM"
      name="Hack Night 4.7"
      link="/hack-night-47"
    />

    <Card
      date="Apr 12th, 2024"
      time="8:00 PM—6:30 AM"
      name="Hack Night 4.6"
      link="/hack-night-46"
    />

    <Card
      date="Apr 5th, 2024"
      time="8:00 PM—6:15 AM"
      name="Hack Night 4.5"
      link="/hack-night-45"
    />

    <Card
      date="Apr 4th, 2024"
      time="8:00—9:00 PM"
      name="Shaders Workshop"
      link="/shaders-workshop"
    />

    <Card
      date="Mar 29th, 2024"
      time="8:00 PM—6:30 AM"
      name="Hack Night 4.4"
      link="/hack-night-44"
    />

    <Card
      date="Mar 22nd, 2024"
      time="8:00 PM—5:15 AM"
      name="Hack Night 4.3"
      link="/hack-night-43"
    />

    <Card
      date="Mar 8th, 2024"
      time="8:00 PM—4:15 AM"
      name="Hack Lite"
      link="/hack-lite-2024"
    />

    <Card
      date="Mar 1st, 2024"
      time="8:00 PM—6:40 AM"
      name="Hack Night 4.2"
      link="/hack-night-42"
    />

    <Card
      date="Feb 23rd, 2024"
      time="8:00 PM—6:30 AM"
      name="Hack Night 4.1"
      link="/hack-night-41"
    />

    <Card
      date="Feb 22nd, 2024"
      time="8:00—9:00 PM"
      name="Rust Pong Workshop"
      link="/rust-pong-workshop-1"
    />

    <Card
      date="Feb 16th, 2024"
      time="8:00 PM—6:30 AM"
      name="Hack Night 4.0"
      link="/hack-night-40"
    />

    <Card
      date="Feb 9th, 2024"
      time="8:00 PM—7:30 AM"
      name="Hack Night 3.16"
      link="/hack-night-316"
    />

    <Card
      date="Feb 2nd, 2024"
      time="8:00 PM—7:30 AM"
      name="Hack Night 3.15"
      link="/hack-night-315"
    />

    <Card
      date="Feb 1st, 2024"
      time="6:00—7:00 PM"
      name="Interpreters Workshop (2024)"
      link="/interpreters-workshop-2024"
    />

    <Card
      date="Jan 26th, 2024"
      time="8:00 PM—8:50 AM"
      name="Hack Night 3.14"
      link="/hack-night-314"
    />

    <Card
      date="Jan 19th, 2024"
      time="8:00 PM—4:00 AM"
      name="Hack Night 3.13"
      link="/hack-night-313"
    />

    <Card
      date="Jan 18th, 2024"
      time="6:30—7:30 PM"
      name="Sound Galaxy Workshop"
      link="/sound-galaxy-workshop"
    />

    <Card
      date="Jan 16th, 2024"
      time="5:30—6:20 PM"
      name="Spring 2024 Callout"
      link="/spring-2024-callout"
    />

    <Card
      date="Jan 12th, 2024"
      time="8:00 PM—8:45 PM"
      name="Hack Night 3.12"
      link="/hack-night-312"
    />

    <Card
      date="Dec 8th, 2023"
      time="8:00 PM—4:45 AM"
      name="Hack Night 3.11.1"
      link="/hack-night-3111"
    />

    <Card
      date="Dec 1st, 2023"
      time="8:00 PM—8:00 AM"
      name="Hack Night 3.11"
      link="/hack-night-311"
    />

    <Card
      date="Nov 17th, 2023"
      time="8:00 PM—5:00 AM"
      name="Hack Night 3.10"
      link="/hack-night-310"
    />

    <Card
      date="Nov 10th, 2023"
      time="8:00 PM—5:00 AM"
      name="Hack Night 3.9"
      link="/hack-night-39"
    />

    <Card
      date="Nov 9th, 2023"
      time="8:00—9:00 PM"
      name="Finetuning LLMs Workshop"
      link="/finetuning-llms-workshop"
    />

    <Card
      date="Nov 3rd, 2023"
      time="8:00 PM—4:27 AM"
      name="Hack Night 3.8"
      link="/hack-night-38"
    />

    <Card
      date="Oct 27th, 2023"
      time="8:00 PM—5:00 AM"
      name="Hack Night 3.7"
      link="/hack-night-37"
    />

    <Card
      date="Oct 20th, 2023"
      time="8:00 PM—12:20 PM"
      name="Hack Night 3.6"
      link="/hack-night-36"
    />

    <Card
      date="Oct 13th, 2023"
      time="8:00 PM—7:00 AM"
      name="Hack Night 3.5"
      link="/hack-night-35"
    />

    <Card
      date="Oct 6th, 2023"
      time="8:00 PM—6:35 AM"
      name="Hack Night 3.4"
      link="/hack-night-34"
    />

    <Card
      date="Oct 5th, 2023"
      time="8:00—9:00 PM"
      name="Sentence Embeddings Workshop"
      link="/sentence-embeddings-workshop"
    />

    <Card
      date="Sep 29th, 2023"
      time="8:00 PM—6:15 AM"
      name="Hack Night 3.3"
      link="/hack-night-33"
    />

    <Card
      date="Sep 27th, 2023"
      time="8:00—9:00 PM"
      name="Fireworks Workshop"
      link="/fireworks-workshop"
    />

    <Card
      date="Sep 22nd, 2023"
      time="8:00 PM—7:15 AM"
      name="Hack Night 3.2"
      link="/hack-night-32"
    />

    <Card
      date="Sep 15th, 2023"
      time="8:00 PM—6:00 AM"
      name="Hack Night 3.1"
      link="/hack-night-31"
    />

    <Card
      date="Sep 14th, 2023"
      time="8:00—9:00 PM"
      name="Word Embedding Workshop"
      link="/word-embedding-workshop"
    />

    <Card
      date="Sep 8th, 2023"
      time="8:00 PM—8:35 AM"
      name="Hack Night 3.0"
      link="/hack-night-30"
    />

    <Card
      date="Sep 5th, 2023"
      time="8:00—9:00 PM"
      name="Godot Workshop"
      link="/godot-workshop"
    />

    <Card
      date="Sep 1st, 2023"
      time="8:00 PM—10:17 AM"
      name="Hack Night 3.0 BETA"
      link="/hack-night-30-beta"
    />

    <Card
      date="Aug 29th, 2023"
      time="6:30—7:30 PM"
      name="Fall 2023 Callout"
      link="/fall-2023-callout"
    />

    <Card
      date="Apr 28th, 2023"
      time="8:00 PM—1:00 AM"
      name="Hack Night: Encore"
      link="/hack-night-encore"
    />

    <Card
      date="Apr 21st, 2023"
      time="8:00 PM—7:15 AM"
      name="Hack Night 2.7: The Finale"
      link="/hack-night-27-the-finale"
    />

    <Card
      date="Apr 14th, 2023"
      time="8:00 PM—3:45 AM"
      name="Hack Night 2.6"
      link="/hack-night-26"
    />

    <Card
      date="Apr 13th, 2023"
      time="6:30—7:30 PM"
      name="Go Game of Life Workshop"
      link="/go-game-of-life-workshop"
    />

    <Card
      date="Apr 7th, 2023"
      time="8:00 PM—4:45 AM"
      name="Hack Night 2.5"
      link="/hack-night-25"
    />

    <Card
      date="Apr 4th, 2023"
      time="6:30—7:30 PM"
      name="Rust Game Workshop"
      link="/rust-game-workshop"
    />

    <Card
      date="Apr 1st, 2023"
      time="2:00—7:00 PM"
      name="🔨HammerWars 2.0💻"
      link="/hammerwars-20"
    />

    <Card
      date="Mar 31st, 2023"
      time="8:00 PM—3:45 AM"
      name="Hack Night 2.4"
      link="/hack-night-24"
    />

    <Card
      date="Mar 24th, 2023"
      time="8:00 PM—5:40 AM"
      name="Hack Night 2.3"
      link="/hack-night-23"
    />

    <Card
      date="Mar 10th, 2023"
      time="8:00 PM—12:30 PM"
      name="Hack Lite"
      link="/hack-lite-2023"
    />

    <Card
      date="Mar 3rd, 2023"
      time="8:00 PM—2:30 AM"
      name="Hack Night 2.2"
      link="/hack-night-22"
    />

    <Card
      date="Mar 1st, 2023"
      time="7:00—8:00 PM"
      name="Gravity Simulator Workshop"
      link="/gravity-simulator-workshop"
    />

    <Card
      date="Feb 24th, 2023"
      time="8:00 PM—4:15 AM"
      name="Hack Night 2.1"
      link="/hack-night-21"
    />

    <Card
      date="Feb 17th, 2023"
      time="8:00 PM—5:00 AM"
      name="Hack Night 2.0"
      link="/hack-night-20"
    />

    <Card
      date="Feb 15th, 2023"
      time="6:30—7:30 PM"
      name="Generative Art Workshop"
      link="/generative-art-workshop"
    />

    <Card
      date="Feb 10th, 2023"
      time="8:00 PM—4:00 AM"
      name="Hack Night 1.5"
      link="/hack-night-15"
    />

    <Card
      date="Feb 3rd, 2023"
      time="8:00 PM—4:45 AM"
      name="Hack Night 1.4"
      link="/hack-night-14"
    />

    <Card
      date="Jan 27th, 2023"
      time="8:00 PM—2:20 AM"
      name="Hack Night 1.3"
      link="/hack-night-13"
    />

    <Card
      date="Jan 24th, 2023"
      time="6:30—7:30 PM"
      name="Personal Website Workshop"
      link="/personal-website-workshop"
    />

    <Card
      date="Jan 19th, 2023"
      time="6:30—7:30 PM"
      name="Spring 2023 Callout"
      link="/spring-2023-callout"
    />

    <Card
      date="Dec 2nd, 2022"
      time="7:00—9:00 PM"
      name="Holiday Social"
      link="/holiday-social"
    />

    <Card
      date="Dec 1st, 2022"
      time="6:30—7:30 PM"
      name="Programming Languages Workshop"
      link="/programming-languages-workshop"
    />

    <Card
      date="Nov 18th, 2022"
      time="7:30 PM—12:30 AM"
      name="Hack Night 1.2"
      link="/hack-night-12"
    />

    <Card
      date="Nov 11th, 2022"
      time="7:00 PM—12:50 AM"
      name="Hack Night 1.1"
      link="/hack-night-11"
    />

    <Card
      date="Nov 4th, 2022"
      time="7:00—2:45 AM"
      name="Hack Night 1.0"
      link="/hack-night-10"
    />

    <Card
      date="Nov 2nd, 2022"
      time="7:00—8:00 PM"
      name="Discord Bot Workshop"
      link="/discord-bot-workshop"
    />

    <Card
      date="Oct 21st, 2022"
      time="7:00 PM—12:30 AM"
      name="Hack Night 0.5"
      link="/hack-night-05"
    />

    <Card
      date="Oct 28th, 2022"
      time="7:00 PM—2:20 AM"
      name="Hack Night 0.6"
      link="/hack-night-06"
    />

    <Card
      date="Oct 14th, 2022"
      time="7:00 PM—12:30 AM"
      name="Hack Night 0.4"
      link="/hack-night-04"
    />

    <Card
      date="Sep 30th, 2022"
      time="7:00—11:45 PM"
      name="Hack Night 0.3"
      link="/hack-night-03"
    />

    <Card
      date="Sep 28th, 2022"
      time="7:30—8:30 PM"
      name="Shaders Workshop (2022)"
      link="/shaders-workshop-2022"
    />

    <Card
      date="Sep 23rd, 2022"
      time="7:00—11:15 PM"
      name="Hack Night 0.2"
      link="/hack-night-02"
    />

    <Card
      date="Sep 16th, 2022"
      time="7:00—10:40 PM"
      name="Hack Night 0.1"
      link="/hack-night-01"
    />

    <Card
      date="Sep 6th, 2022"
      time="6:30—7:30 PM"
      name="Sound Galaxy Workshop"
      link="/sound-galaxy-2022"
    />

    <Card
      date="Aug 30th, 2022"
      time="6:00—7:00 PM"
      name="Fall 2022 Callout"
      link="/fall-2022-callout"
    />

    <Card
      date="Apr 16th, 2022"
      time="2:00—6:00 PM"
      name="🔨 HammerWars 💻"
      link="/-hammerwars-"
    />

    <Card
      date="Apr 7th, 2022"
      time="6:30—7:30 PM"
      name="Rust Pong Workshop"
      link="/rust-pong-workshop"
    />

    <Card
      date="Mar 10th, 2022"
      time="6:30—7:30 PM"
      name="Personal Website Workshop"
      link="/personal-website-workshop-s22"
    />

    <Card
      date="Mar 3rd, 2022"
      time="7:30—7:30 PM"
      name="Rick Roll (Web API) Workshop"
      link="/rick-roll-web-api-workshop"
    />

    <Card
      date="Feb 24th, 2022"
      time="6:00—7:30 PM"
      name="CS Track Panel (Day 2)"
      link="/cs-track-panel-day-2"
    />

    <Card
      date="Feb 23rd, 2022"
      time="6:00—7:30 PM"
      name="CS Track Panel (Day 1)"
      link="/cs-track-panel-day-1"
    />

    <Card
      date="Feb 10th, 2022"
      time="6:30—7:30 PM"
      name="GDB Workshop"
      link="/gdb-workshop"
    />

    <Card
      date="Feb 3rd, 2022"
      time="6:00—7:00 PM"
      name="Machine Learning Workshop (for Beginners)"
      link="/machine-learning-workshop-for-beginners"
    />

    <Card
      date="Jan 26th, 2022"
      time="6:00—7:00 PM"
      name="Spring 22 Callout"
      link="/spring-22-callout"
    />

    <Card
      date="Dec 6th, 2021"
      time="6:00—7:00 PM"
      name="Resume Workshop"
      link="/resume-workshop"
    />

    <Card
      date="Nov 10th, 2021"
      time="6:00—7:00 PM"
      name="Sound Galaxy Workshop"
      link="/sound-galaxy-2021"
    />

    <Card
      date="Sep 30th, 2021"
      time="6:00—7:00 PM"
      name="Intro to IntelliJ"
      link="/intro-to-intellij"
    />
</div>
  
  <button
    class="rounded-lg mx-auto py-2 px-2 font-bold dark:text-gray-200 text-xl shadow-md dark:shadow-black/25 border-solid border-2 border-amber-400 dark:border-amber-500 p-2 text-center hover:scale-105 transform transition"
    ><div class="flex flex-row gap-x-1 items-center ml-1">
      <p>Show less</p><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><line x1="12" y1="19" x2="12" y2="5"></line><polyline
          points="5 12 12 5 19 12"></polyline></svg
      >
    </div></button
  >
</div>
