---

import type { EventType, PayloadResponse, SemesterType } from "@/types";
import { CMS_URL } from "../../utilities/constants";
import {
  getEventsInSemester,
} from "@/utilities/helpers";

import SemesterEvents from "./SemesterEvents.astro";

//const allEvents = await getCollection("events");
const { semesters } = Astro.props;

const params = new URLSearchParams();
params.set("sort", "start");
params.set("where[start][less_than]", new Date().toISOString());

const res = await fetch(`${CMS_URL}/api/events?${params.toString()}`);
const data: PayloadResponse<EventType> = await res.json();
let allEvents: EventType[] = data.docs;
---

<div
  id="past-events"
  class="lg:container flex flex-col mb-14 sm:pt-14 px-4 sm:px-12 md:px-18 xl:px-28 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <div class="flex flex-wrap items-end justify-between gap-4">
    <h2 class="text-3xl sm:text-4xl font-mono font-black m-0">Past events</h2>
  </div>

  {
    semesters.map((semester: SemesterType, i: number) => {
      const events = getEventsInSemester(allEvents, semester);
      if (events.length === 0) return null;

      return (
        <SemesterEvents semester={semester} i={i} />
      );
    })
  }
  <button class="cursor-pointer w-fit m-auto mt-4 font-pixel text-sm font-bold text-purple-700 dark:text-amber-400">
    Load more ...
  </button>
</div>

<script>
  import "../../scripts/scrollAnim";
  import "../../scripts/categoryFilter";
</script>
