---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import Card from "./Card.astro";
import { getEventSlug, getLocalizedDate, getTime } from "@/utilities/helpers";
import { undefined } from "astro:schema";

const events = (await getCollection("events")).sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime()
);
---

<div
  class="container flex flex-col mb-14 sm:pt-14 px-5 sm:px-20 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <h2 class="text-3xl sm:text-4xl font-bold ml-1">Past events</h2><div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:auto-cols-fr text-center"
  >
    {
      events.map((event) => {
        const start = event.data.start;
        const localizedStart = getLocalizedDate(start);
        const localizedStartTime = format(localizedStart, "hh:mm a");
        const localizedEnd = event.data.end ? getLocalizedDate(event.data.end) : undefined;
        const localizedEndTime = getTime(localizedEnd);
        const name = event.data.name;
        const slug = getEventSlug(event.filePath ?? "");

        return (
          <Card
            date={format(localizedStart, "MMM do, yyyy")}
            time={`${localizedStartTime}—${localizedEndTime}`}
            name={name}
            link={slug}
          />
        );
      })
    }
  </div>
</div>
