---
import type { SemesterType } from "@/types";

import SemesterEvents from "./SemesterEvents.astro";

const { semesters } = Astro.props;
---

<div
  id="past-events"
  class="lg:container flex flex-col mb-14 sm:pt-14 px-4 sm:px-12 md:px-18 xl:px-28 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <div class="flex flex-wrap items-end justify-between gap-4">
    <h2 class="text-3xl sm:text-4xl font-mono font-black m-0">Past events</h2>
  </div>

  {semesters.map((semester: SemesterType, i: number) => {
      return (
        <SemesterEvents semester={semester} i={i} />
      );
  })}
  <button class="cursor-pointer w-fit m-auto mt-4 font-pixel text-sm font-bold text-purple-700 dark:text-amber-400">
    Load more ...
  </button>
</div>

<script>
  import "../../scripts/scrollAnim";
  import "../../scripts/categoryFilter";
</script>
