---
import Card from "./Card.astro";
---

<!-- TODO: implement past event fetching! -->
<!-- This is just an archive from our current events site. -->
<div
  class="container flex flex-col mb-14 sm:pt-14 px-5 sm:px-20 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
>
  <h2 class="text-3xl sm:text-4xl font-bold ml-1">Past events</h2><div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:auto-cols-fr text-center"
  >
    <Card
      date="May 2nd, 2025"
      time="8:00 PM—???"
      name="Hack Night 5.25.1"
      link="/hack-night-5251"
    />

    <div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-5251"
        ><p class="">May 2nd, 2025 • 8:00 PM—???</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.25.1
        </h3></a
      >
    </div>

    <div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-525"
        ><p class="">Apr 25th, 2025 • 8:00 PM—10:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.25
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-524"
        ><p class="">Apr 18th, 2025 • 8:00 PM—7:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.24
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-523"
        ><p class="">Apr 11th, 2025 • 8:00 PM—4:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.23
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-522"
        ><p class="">Apr 4th, 2025 • 8:00 PM—7:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.22
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/vr-laser-tag-tournament"
        ><p class="">Mar 30th, 2025 • 5:00—6:00 PM</p><h3
          class="text-2xl font-bold"
        >
          VR Laser Tag Tournament
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-521"
        ><p class="">Mar 28th, 2025 • 8:00 PM—2:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.21
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-lite-2025"
        ><p class="">Mar 14th, 2025 • 8:00 PM—2:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Lite
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-520"
        ><p class="">Mar 7th, 2025 • 8:00 PM—4:41 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.20
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-519"
        ><p class="">Feb 28th, 2025 • 8:00 PM—4:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.19
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/interpreters-workshop"
        ><p class="">Feb 25th, 2025 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Interpreters Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-518"
        ><p class="">Feb 21st, 2025 • 8:00 PM—4:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.18
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-517"
        ><p class="">Feb 14th, 2025 • 8:00 PM—7:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.17
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-516"
        ><p class="">Feb 7th, 2025 • 8:00 PM—7:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.16
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-515"
        ><p class="">Jan 31st, 2025 • 8:00 PM—6:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.15
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-514"
        ><p class="">Jan 24th, 2025 • 8:00 PM—6:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.14
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/spring-2025-callout"
        ><p class="">Jan 21st, 2025 • 7:30—8:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Spring 2025 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-513"
        ><p class="">Jan 17th, 2025 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.13
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/burst-"
        ><p class="">Dec 8th, 2024 • 2:00—6:00 PM</p><h3
          class="text-2xl font-bold"
        >
          BURST ✷
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-512"
        ><p class="">Nov 22nd, 2024 • 8:00 PM—5:10 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.12
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-511"
        ><p class="">Nov 15th, 2024 • 8:00 PM—9:04 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.11
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-510"
        ><p class="">Nov 8th, 2024 • 8:00 PM—6:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.10
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-59"
        ><p class="">Nov 1st, 2024 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.9
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-58"
        ><p class="">Oct 25th, 2024 • 8:00 PM—5:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.8
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-57"
        ><p class="">Oct 20th, 2024 • 8:00 PM—10:20 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.7
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-56"
        ><p class="">Oct 11th, 2024 • 8:00 PM—10:25 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.6
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-55"
        ><p class="">Oct 4th, 2024 • 8:00 PM—9:10 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-54"
        ><p class="">Sep 27th, 2024 • 8:00 PM—9:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-53"
        ><p class="">Sep 20th, 2024 • 8:00 PM—7:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-52"
        ><p class="">Sep 13th, 2024 • 8:00 PM—8:52 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-51"
        ><p class="">Sep 6th, 2024 • 8:00 PM—5:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-50"
        ><p class="">Aug 30th, 2024 • 8:00 PM—5:08 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 5.0
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/fall-2024-callout"
        ><p class="">Aug 27th, 2024 • 7:00—8:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Fall 2024 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-471"
        ><p class="">Apr 26th, 2024 • 8:00 PM—7:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.7.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/ama-with-steve-wozniak"
        ><p class="">Apr 23rd, 2024 • 7:00—8:00 PM</p><h3
          class="text-2xl font-bold"
        >
          AMA with Steve Wozniak
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-47"
        ><p class="">Apr 19th, 2024 • 8:00 PM—6:52 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.7
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-46"
        ><p class="">Apr 12th, 2024 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.6
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-45"
        ><p class="">Apr 5th, 2024 • 8:00 PM—6:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/shaders-workshop"
        ><p class="">Apr 4th, 2024 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Shaders Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-44"
        ><p class="">Mar 29th, 2024 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-43"
        ><p class="">Mar 22nd, 2024 • 8:00 PM—5:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-lite-2024"
        ><p class="">Mar 8th, 2024 • 8:00 PM—4:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Lite
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-42"
        ><p class="">Mar 1st, 2024 • 8:00 PM—6:40 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-41"
        ><p class="">Feb 23rd, 2024 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/rust-pong-workshop-1"
        ><p class="">Feb 22nd, 2024 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Rust Pong Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-40"
        ><p class="">Feb 16th, 2024 • 8:00 PM—6:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 4.0
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-316"
        ><p class="">Feb 9th, 2024 • 8:00 PM—7:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.16
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-315"
        ><p class="">Feb 2nd, 2024 • 8:00 PM—7:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.15
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/interpreters-workshop-2024"
        ><p class="">Feb 1st, 2024 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Interpreters Workshop (2024)
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-314"
        ><p class="">Jan 26th, 2024 • 8:00 PM—8:50 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.14
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-313"
        ><p class="">Jan 19th, 2024 • 8:00 PM—4:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.13
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/sound-galaxy-workshop"
        ><p class="">Jan 18th, 2024 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Sound Galaxy Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/spring-2024-callout"
        ><p class="">Jan 16th, 2024 • 5:30—6:20 PM</p><h3
          class="text-2xl font-bold"
        >
          Spring 2024 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-312"
        ><p class="">Jan 12th, 2024 • 8:00 PM—8:45 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.12
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-3111"
        ><p class="">Dec 8th, 2023 • 8:00 PM—4:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.11.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-311"
        ><p class="">Dec 1st, 2023 • 8:00 PM—8:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.11
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-310"
        ><p class="">Nov 17th, 2023 • 8:00 PM—5:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.10
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-39"
        ><p class="">Nov 10th, 2023 • 8:00 PM—5:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.9
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/finetuning-llms-workshop"
        ><p class="">Nov 9th, 2023 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Finetuning LLMs Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-38"
        ><p class="">Nov 3rd, 2023 • 8:00 PM—4:27 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.8
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-37"
        ><p class="">Oct 27th, 2023 • 8:00 PM—5:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.7
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-36"
        ><p class="">Oct 20th, 2023 • 8:00 PM—12:20 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.6
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-35"
        ><p class="">Oct 13th, 2023 • 8:00 PM—7:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-34"
        ><p class="">Oct 6th, 2023 • 8:00 PM—6:35 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/sentence-embeddings-workshop"
        ><p class="">Oct 5th, 2023 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Sentence Embeddings Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-33"
        ><p class="">Sep 29th, 2023 • 8:00 PM—6:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/fireworks-workshop"
        ><p class="">Sep 27th, 2023 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Fireworks Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-32"
        ><p class="">Sep 22nd, 2023 • 8:00 PM—7:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-31"
        ><p class="">Sep 15th, 2023 • 8:00 PM—6:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/word-embedding-workshop"
        ><p class="">Sep 14th, 2023 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Word Embedding Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-30"
        ><p class="">Sep 8th, 2023 • 8:00 PM—8:35 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.0
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/godot-workshop"
        ><p class="">Sep 5th, 2023 • 8:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Godot Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-30-beta"
        ><p class="">Sep 1st, 2023 • 8:00 PM—10:17 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 3.0 BETA
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/fall-2023-callout"
        ><p class="">Aug 29th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Fall 2023 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-encore"
        ><p class="">Apr 28th, 2023 • 8:00 PM—1:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night: Encore
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-27-the-finale"
        ><p class="">Apr 21st, 2023 • 8:00 PM—7:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.7: The Finale
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-26"
        ><p class="">Apr 14th, 2023 • 8:00 PM—3:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.6
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/go-game-of-life-workshop"
        ><p class="">Apr 13th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Go Game of Life Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-25"
        ><p class="">Apr 7th, 2023 • 8:00 PM—4:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/rust-game-workshop"
        ><p class="">Apr 4th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Rust Game Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hammerwars-20"
        ><p class="">Apr 1st, 2023 • 2:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          🔨HammerWars 2.0💻
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-24"
        ><p class="">Mar 31st, 2023 • 8:00 PM—3:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-23"
        ><p class="">Mar 24th, 2023 • 8:00 PM—5:40 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-lite-2023"
        ><p class="">Mar 10th, 2023 • 8:00 PM—12:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Lite
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-22"
        ><p class="">Mar 3rd, 2023 • 8:00 PM—2:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/gravity-simulator-workshop"
        ><p class="">Mar 1st, 2023 • 7:00—8:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Gravity Simulator Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-21"
        ><p class="">Feb 24th, 2023 • 8:00 PM—4:15 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-20"
        ><p class="">Feb 17th, 2023 • 8:00 PM—5:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 2.0
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/generative-art-workshop"
        ><p class="">Feb 15th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Generative Art Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-15"
        ><p class="">Feb 10th, 2023 • 8:00 PM—4:00 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-14"
        ><p class="">Feb 3rd, 2023 • 8:00 PM—4:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-13"
        ><p class="">Jan 27th, 2023 • 8:00 PM—2:20 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/personal-website-workshop"
        ><p class="">Jan 24th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Personal Website Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/spring-2023-callout"
        ><p class="">Jan 19th, 2023 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Spring 2023 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/holiday-social"
        ><p class="">Dec 2nd, 2022 • 7:00—9:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Holiday Social
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/programming-languages-workshop"
        ><p class="">Dec 1st, 2022 • 6:30—7:30 PM</p><h3
          class="text-2xl sm:text-xl font-bold"
        >
          Programming Languages Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-12"
        ><p class="">Nov 18th, 2022 • 7:30 PM—12:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-11"
        ><p class="">Nov 11th, 2022 • 7:00 PM—12:50 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-10"
        ><p class="">Nov 4th, 2022 • 7:00—2:45 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 1.0
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/discord-bot-workshop"
        ><p class="">Nov 2nd, 2022 • 7:00—8:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Discord Bot Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-05"
        ><p class="">Oct 21st, 2022 • 7:00 PM—12:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.5
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-06"
        ><p class="">Oct 28th, 2022 • 7:00 PM—2:20 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.6
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-04"
        ><p class="">Oct 14th, 2022 • 7:00 PM—12:30 AM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.4
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-03"
        ><p class="">Sep 30th, 2022 • 7:00—11:45 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.3
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/shaders-workshop-2022"
        ><p class="">Sep 28th, 2022 • 7:30—8:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Shaders Workshop (2022)
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-02"
        ><p class="">Sep 23rd, 2022 • 7:00—11:15 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.2
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/hack-night-01"
        ><p class="">Sep 16th, 2022 • 7:00—10:40 PM</p><h3
          class="text-2xl font-bold"
        >
          Hack Night 0.1
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/sound-galaxy-2022"
        ><p class="">Sep 6th, 2022 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Sound Galaxy Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/fall-2022-callout"
        ><p class="">Aug 30th, 2022 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Fall 2022 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/-hammerwars-"
        ><p class="">Apr 16th, 2022 • 2:00—6:00 PM</p><h3
          class="text-2xl font-bold"
        >
          🔨 HammerWars 💻
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/rust-pong-workshop"
        ><p class="">Apr 7th, 2022 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Rust Pong Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/personal-website-workshop-s22"
        ><p class="">Mar 10th, 2022 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Personal Website Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/rick-roll-web-api-workshop"
        ><p class="">Mar 3rd, 2022 • 7:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          Rick Roll (Web API) Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/cs-track-panel-day-2"
        ><p class="">Feb 24th, 2022 • 6:00—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          CS Track Panel (Day 2)
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/cs-track-panel-day-1"
        ><p class="">Feb 23rd, 2022 • 6:00—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          CS Track Panel (Day 1)
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/gdb-workshop"
        ><p class="">Feb 10th, 2022 • 6:30—7:30 PM</p><h3
          class="text-2xl font-bold"
        >
          GDB Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/machine-learning-workshop-for-beginners"
        ><p class="">Feb 3rd, 2022 • 6:00—7:00 PM</p><h3
          class="text-2xl sm:text-xl font-bold"
        >
          Machine Learning Workshop (for Beginners)
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/spring-22-callout"
        ><p class="">Jan 26th, 2022 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Spring 22 Callout
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/resume-workshop"
        ><p class="">Dec 6th, 2021 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Resume Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/sound-galaxy-2021"
        ><p class="">Nov 10th, 2021 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Sound Galaxy Workshop
        </h3></a
      >
    </div><div>
      <a
        class="col-span-1 h-full shadow-lg dark:shadow-black/25 flex flex-col rounded-lg justify-center p-5 bg-gray-200 dark:bg-gray-700"
        href="/intro-to-intellij"
        ><p class="">Sep 30th, 2021 • 6:00—7:00 PM</p><h3
          class="text-2xl font-bold"
        >
          Intro to IntelliJ
        </h3></a
      >
    </div>
  </div><button
    class="rounded-lg mx-auto py-2 px-2 font-bold dark:text-gray-200 text-xl shadow-md dark:shadow-black/25 border-solid border-2 border-amber-400 dark:border-amber-500 p-2 text-center hover:scale-105 transform transition"
    ><div class="flex flex-row gap-x-1 items-center ml-1">
      <p>Show less</p><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><line x1="12" y1="19" x2="12" y2="5"></line><polyline
          points="5 12 12 5 19 12"></polyline></svg
      >
    </div></button
  >
</div>
