---
export const prerender = false;

import CurrentEvents from "../components/CurrentEvents.tsx";
import PastEvents from "../components/past-events/PastEvents.tsx";
import Layout from "@/layouts/Layout.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
import ListSidebar from "@/components/ListSidebar.tsx";
import Clock from "@components/Clock";

const INITIAL_LIMIT = 30;
const apiUrl = new URL('/api/events', Astro.url).href;
---

<Layout>
  <HomeLayout>
    <div class="w-full lg:max-w-screen-2xl pt-6 sm:pt-14 px-4 sm:px-12 md:px-18 xl:px-20">
      <div class="w-full flex flex-col gap-6 sm:gap-14">
        <div class="w-full font-mono text-gray-500 dark:text-gray-400 text-xs sm:text-sm flex flex-col md:flex-row justify-between gap-2 mb-0 text-left mx-auto">
          <div>* All event times are listed in Eastern Time (America/Indianapolis).</div>
          <div>Local - <Clock client:load /></div>
        </div>

        <div class="flex justify-between items-start gap-6">
          <div class="grow flex flex-col gap-6">
            <CurrentEvents client:load apiUrl={apiUrl} />
            <PastEvents
              client:load
              limit={INITIAL_LIMIT}
              apiUrl={apiUrl}
            />
          </div>

          <div class="z-50 sticky top-34 w-fit hidden sm:block">
            <ListSidebar client:load apiUrl={apiUrl} />
          </div>
        </div>
      </div>
    </div>
  </HomeLayout>
</Layout>
