---
import CurrentEvents from "../components/CurrentEvents.astro";

import Hero from "../components/Hero.astro";
import Marquee from "@/components/Marquee.astro";

import PastEvents from "../components/past-events/PastEvents.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <div id="hero-sentinel" class="relative -top-16 h-0 w-full pointer-events-none" aria-hidden="true" />
  <Marquee 
    class="hidden text-pink-500 bg-amber-300" 
    text="HACK."
  />
  <Marquee 
    class="text-white bg-black text-sm py-1" 
    text="HACK"
  />
  <div class="z-10 bg-white dark:bg-gray-900">
    <CurrentEvents />

    <PastEvents />
  </div>
</Layout>
