---

---

<div
  class="container py-8 sm:pt-14 sm:pb-0 mx-auto px-4 sm:px-36 lg:px-72 xl:px-96"
>
  <div
    class="rounded-lg shadow-lg dark:shadow-black/25 bg-amber-400 dark:bg-amber-500 dark:text-black p-4 flex flex-col justify-center gap-y-3"
  >
    <!-- TODO: add cards for when there *are* events -->
    <h2 class="text-2xl sm:text-3xl font-bold text-center">Coming soon...</h2><p
    >
      There aren't currently any events that we're ready to announce. We're
      working hard though—check back soon!
    </p><p>
      <!-- TODO: replicate fun text randomizing thing -->
      Tired of dealing with rodents? <span
        ><span
          ><a
            href="https://puhack.horse/discord"
            target="_blank"
            class="hover:text-neutral-700 transition underline"
            >Join our Discord!</a
          ></span
        ></span
      >
    </p>
  </div>
</div>
