---

---

<div
  class="container py-8 sm:pt-14 sm:pb-0 mx-auto px-4 sm:px-36 lg:px-72 xl:px-96"
>
  <div
    class="rounded-lg shadow-lg dark:shadow-black/25 bg-amber-400 dark:bg-amber-500 dark:text-black p-4 flex flex-col justify-center gap-y-3"
  >
    <h2 class="text-2xl sm:text-3xl font-bold text-center">Looking for upcoming events?</h2><p
    >
      Current and future events are now posted on Luma!
    </p>
    <p>Click on this card to check it out.</p>
  </div>
</div>
