---

---

<div
  class="lg:container py-8 sm:pt-14 sm:pb-0 mx-auto px-4 flex justify-center"
>
  <a href="https://lu.ma/user/purduehackers" target="_blank" rel="noreferrer">
    <div
      class="w-full md:w-fit rounded-sm bg-yellow dark:text-black p-4 flex flex-col justify-center gap-y-3"
    >
      <p class="font-pixel uppercase text-sm">--new--</p>
      <h2 class="font-mono text-left text-2xl sm:text-3xl font-bold">
        Looking for upcoming events?
      </h2>
      <p class="font-subtext">Current and future events are now posted on Luma!</p>
      <button 
        class="cursor-pointer w-fit px-2 uppercase text-sm font-pixel font-normal text-white bg-black rounded-sm"
      >
        Check it out {'>>'}
      </button>
    </div>
  </a>
</div>
