---
import HomeIcon from "@/assets/home.svg";
import Instagram from "@/assets/socials/instagram.svg";
import GitHub from "@/assets/socials/github.svg";
import Discord from "@/assets/socials/discord.svg";
import { DISCORD_URL } from "@/utilities/constants";
---

<div
  class="text-center dark:text-gray-100 bottom-0 mt-auto w-full flex flex-col justify-center gap-y-4 py-8 px-4 bg-grid-animated [--grid-size:26px] [--grid-color:rgba(0,0,0,0.05)] dark:[--grid-color:rgba(255,255,255,0.08)]"
>
  <div class="font-pixel uppercase font-normal flex flex-col items-center">
    ~ Made with a secret sauce ~ 
    <div>
      <a
        href="https://github.com/purduehackers/events"
        target="_blank"
        class="decoration-amber-400 dark:decoration-amber-500 hover:decoration-[3px]"
      >
        Open source
      </a>
      <span>
        | © 2026
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center gap-x-5">
    <span
      ><a
        href="https://purduehackers.com"
        target="_blank"
        class="text-amber-500 hover:text-amber-400 transition"><HomeIcon /></a
      ></span
    ><span
      ><a
        href="https://github.com/purduehackers"
        target="_blank"
        class="text-amber-500 hover:text-amber-400 transition"><GitHub /></a
      ></span
    ><span
      ><a
        href="https://instagram.com/purduehackers"
        target="_blank"
        class="text-amber-500 hover:text-amber-400 transition"><Instagram /></a
      ></span
    ><span
      ><a
        href={DISCORD_URL}
        target="_blank"
        class="text-amber-500 hover:text-amber-400 transition"><Discord /></a
      ></span
    >
  </div>
</div>
