---

---

<div
  class="bg-grid sticky top-0 z-0 flex flex-col items-center justify-top mt-0 grow-0 w-full flex-1 px-5 pb-8 sm:pb-16 text-center sm:px-20 bg-gray-100 dark:bg-gray-800"
>
  <div class="mt-8 sm:mt-16">
    <h1
      class="text-4xl sm:text-5xl lg:text-6xl uppercase font-pixel dark:text-amber-500"
    >
      Purdue Hackers 
      <span class="text-yellow">Events</span>
    </h1>
    <p class="mt-12 text-lg sm:text-[15px] font-subtext font-normal">
      Check out &amp; sign up for upcoming events from <span
        ><a
          href="https://purduehackers.com"
          target="_blank"
          class="font-bold"
          >Purdue Hackers</a
        ></span
      >.
    </p>
  </div>
</div>
