---
import PixelGraphic from "./PixelGraphic.astro";
import angryManImage from "../assets/graphics/angry_man.png";
import fishLegsImage from "../assets/graphics/fish_with_legs.png";
import lizardGunImage from "../assets/graphics/lizard_gun.png";
import angryDudeSpriteSheet from "../assets/sprites/angry_dude_sprite_yellow.png";

import Sprite from "./Sprite.astro";
---

<div
  class="sticky top-0 z-0 overflow-hidden w-full px-5 py-14 xl:py-20 2xl:py-40 flex flex-col items-center justify-top mt-0 grow-0 flex-1 bg-grid-animated [--grid-size:26px] [--grid-color:rgba(0,0,0,0.05)] dark:[--grid-color:rgba(255,255,255,0.08)]"
>
  <div class="z-10 mt-8 sm:mt-16 text-center">
    <h1
      class="max-w-100 sm:max-w-150 md:max-w-fit m-auto text-4xl sm:text-5xl lg:text-6xl 2xl:text-8xl uppercase font-pixel dark:text-amber-500"
    >
      Purdue Hackers 
      <span class="text-amber-500 dark:text-yellow">Events</span>
    </h1>
    <p class="mt-12 text-base md:text-lg 2xl:text-2xl font-subtext font-normal">
      <span class="font-display">{'> '}</span>
      Check out &amp; sign up for upcoming events from <span
        ><a
          href="https://purduehackers.com"
          target="_blank"
          class="font-bold hover:text-amber-500"
          >Purdue Hackers</a
        ></span
      >.
    </p>
  </div>
  <div class="z-5">
    <div class=`absolute top-20 sm:top-20 2xl:top-30 -left-12 sm:-left-3 w-40 h-50 scale-80 sm:scale-90 md:scale-110 lg:scale-130 2xl:scale-180 rotate-50 opacity-100 bg-yellow dark:bg-purple-400 mask-[url(../assets/graphics/fish_with_legs.png)] mask-contain mask-center`></div>
    <PixelGraphic
      class="hidden absolute top-20 -left-10 rotate-50 opacity-85 dark:invert"
      src={fishLegsImage.src}
      size={260}
    />
    <PixelGraphic
      class="hidden absolute top-6 left-0 opacity-70 dark:invert"
      src={lizardGunImage.src}
      size={340}
    />
    <PixelGraphic
      class="hidden absolute top-6 -right-20 opacity-85 dark:invert"
      src={angryManImage.src}
      size={340}
    />
    <!-- Animated creatura -->
    <div class="absolute top-25 sm:top-15 2xl:top-50 -right-8 sm:right-4 md:right-12 2xl:right-22 scale-90 sm:scale-120 md:scale-140 lg:scale-160 2xl:scale-200 opacity-100 hue-rotate-200 saturate-200 dark:opacity-100">
      <Sprite
        id="angry-guy-sprite"
        className="opacity-85"
        backgroundImage={angryDudeSpriteSheet.src}
        spriteSize={224}
        numRows={1}
        numCols={2}
        numFrames={2}
        duration={1.5}
      />
    </div>
  </div>
</div>
