---
---

<div class="flex">
    {
        [...Array(2)].map((_, _i) => (
            <div class="z-30 font-pixel flex text-pink-500 bg-amber-300 whitespace-nowrap animate-horizontal-scroll-reverse" 
                style="--marquee-duration: 25s"
            >
                {
                    [...Array(20)].map((_, _j) => (
                        <div class="mr-2">HACK.</div>
                    ))
                }
            </div>
        ))
    }
</div>