---
import ThemeButton from "./ThemeButton.astro";


---

<nav class="w-full bg-gray-100 dark:bg-gray-800 h-fit">
  <div class="container px-4 sm:px-14 mx-auto flex">
    <div class="grow"></div>
    <ThemeButton />
  </div>
</nav>
