---
import ThemeButton from "./ThemeButton.astro";
import ArrowLeftIcon from "@/assets/arrow-left.svg";
import Glider from "./icons/Glider.astro";

const currentPath = Astro.url.pathname;

---

<script>
  import "../scripts/scrollAnim";
</script>

<nav
  data-scroll-threshold="2"
  data-sentinel="#hero-sentinel"
  class="fixed top-0 z-50 w-full h-8 flex justify-between items-center transition-[background-color] duration-500 bg-transparent data-[scrolled=true]:bg-purple-700/95 data-[scrolled=true]:dark:bg-gray-900 text-black dark:text-white data-[scrolled=true]:text-white"
  aria-hidden="false"
>
  <div class="container px-4 sm:px-2 mx-auto flex justify-between items-center">
    
    <Glider class="m4-40 w-4 h-4 " />
    <div 
      class="flex gap-2"
    >
      <a
        href="https://purduehackers.com"
        target="_blank"
      >
        <button 
          data-scroll-threshold="2" 
          class="cursor-pointer px-2 uppercase text-sm font-pixel font-normal text-black data-[scrolled=true]:text-white bg-transparent border-1 border-black data-[scrolled=true]:border-white rounded-sm "
        >
          Learn more
        </button>
      </a>
      <a
        href="https://discord.com/invite/purduehackers"
        target="_blank"
      >
        <button 
          data-scroll-threshold="2" 
          class="cursor-pointer px-2 uppercase text-sm font-pixel font-normal text-white data-[scrolled=true]:text-purple-700 bg-black data-[scrolled=true]:bg-white rounded-sm"
        >
          Join us
        </button>
      </a>
    </div>
    <div class="">
      <ThemeButton />
    </div>
    {currentPath !== "/" && (
      <a href={`/`} class="flex items-center gap-x-2 text-amber-500 hover:text-amber-400 transition">
        <ArrowLeftIcon class="w-4 h-4" /> All Events
      </a>
    )}
    <div class="hidden flex gap-2">
      <a
        href="https://purduehackers.com"
        target="_blank"
      >
        <button class="px-2 uppercase font-pixel font-normal text-white bg-purple-700 rounded-sm">
          Join us
        </button>
      </a>
      <a
        href="https://purduehackers.com"
        target="_blank"
      >
        <button class="uppercase font-mono text-white bg-purple-700">
          See more
        </button>
      </a>
    </div>
  </div>
</nav>
