---

---

<nav class="w-full bg-gray-100 dark:bg-gray-800 h-14">
  <div class="container px-4 sm:px-14 mx-auto flex">
    <div class="grow"></div>
    <!-- TODO: add theme switching button -->
  </div>
</nav>
