---
import ThemeButton from "./ThemeButton.astro";
import ArrowLeftIcon from "@/assets/arrow-left.svg";

const currentPath = Astro.url.pathname;

---

<nav class="w-full bg-gray-100 dark:bg-gray-800 h-fit">
  <div class="container px-4 sm:px-14 mx-auto flex justify-between items-center">
    {currentPath !== "/" && (
      <a href={`/`} class="flex items-center gap-x-2 text-amber-500 hover:text-amber-400 transition">
        <ArrowLeftIcon class="w-4 h-4" /> All Events
      </a>
    )}
    <div class="grow"></div>
    <ThemeButton />
  </div>
</nav>
