---
import SunIcon from "@/assets/feather/sun.svg";
import MoonIcon from "@/assets/feather/moon.svg";
---

<button class="p-4 cursor-pointer" aria-hidden="true" id="theme-selector">
  <span class="sr-only">
    Enable <span class="dark:hidden">light</span>
    <span class="hidden dark:inline">dark</span> mode
  </span>

  <SunIcon class="dark:hidden w-8 h-8" />

  <MoonIcon class="hidden dark:inline w-8 h-8" />
</button>

<script is:inline>
  function themePrefSaved() {
    return typeof localStorage !== "undefined" && localStorage.getItem("theme");
  }

  function getTheme() {
    if (themePrefSaved()) {
      return localStorage.getItem("theme") ?? "light";
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function setTheme() {
    if (getTheme() === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
  }

  function handleToggleClick() {
    localStorage.setItem("theme", getTheme() !== "dark" ? "dark" : "light");
    setTheme();
  }

  function resetPreferences() {
    localStorage.removeItem("theme");
    setTheme();
  }

  function initializeListeners() {
    const themeSelector = document.getElementById("theme-selector");
    if (themeSelector) {
      themeSelector.onclick = handleToggleClick;
      themeSelector.onauxclick = resetPreferences;
    }

    // Periodically refresh theme if system preferences changes
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", setTheme);
  }

  function mount() {
    initializeListeners();
    setTheme();
  }

  // Initial mount
  mount();

  // Remount after view transition
  document.addEventListener("astro:after-swap", mount);
</script>
