---
import Hero from "@/components/Hero.astro";
import Marquee from "@/components/Marquee.astro";
import SemesterFilter from "@/components/SemesterFilter.tsx";
import CategoryFilter from "@/components/CategoryFilter.tsx";
import ViewModeToggle from "@/components/ViewModeToggle.tsx";
import SearchBar from "@/components/SearchBar";

import { EVENT_CATEGORIES } from "@/types";
import {
  getSemestersNewestFirst,
} from "@/utilities/helpers";

const allSemesters = getSemestersNewestFirst();
const categories = [...EVENT_CATEGORIES];
---

<Hero />
<div id="hero-sentinel" class="relative -top-16 h-0 w-full pointer-events-none" aria-hidden="true" />
<Marquee 
    class="hidden text-pink-500 bg-amber-300" 
    text="HACK."
/>
<Marquee 
    class="sticky top-0 text-sm text-white dark:text-white bg-neutral-800 dark:bg-purple-700 group-hover/marquee:bg-amber-400 py-1" 
    text="HACK"
/>
<div class="z-10 min-h-[50vh] bg-body-light dark:bg-body-dark">
    <div class="sticky-scroll-lock z-60 sticky top-8 p-0 sm:py-4 bg-zinc-200 dark:bg-zinc-700 text-[15px] font-pixel uppercase">
        <div class="w-full xl:container mx-0 xl:m-auto flex flex-col sm:flex-row items-start sm:items-center justify-between sm:gap-2">
            {/* Filter */}
            <div class="px-4 py-3 sm:py-0 w-full sm:w-fit flex items-center gap-2 border-b-1 sm:border-none border-zinc-300 dark:border-zinc-600">
                <h4 class="block sm:block">Filter:</h4>
                <SemesterFilter client:load semesters={allSemesters} />
                <CategoryFilter client:load categories={categories} />
            </div>

            {/* List/Grid Buttons */}
            <ViewModeToggle client:load />

            {/* Search bar */}
            <div class="px-4 py-3 sm:py-0 w-full lg:w-1/3 flex items-center gap-2 pr-4">
                <h4 class="block sm:block">Search:</h4>
                <SearchBar client:load />
            </div>
        </div>
    </div>


    <div class="w-full flex justify-center">
        <slot/>
    </div>
</div>
