---
import "../styles/global.css";

// Import fonts
import "@fontsource-variable/space-grotesk";
import "@fontsource/space-mono";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import logoImg from "@/../public/logo.svg";
import { getImage } from "astro:assets";
import SocialMetaTags from "./components/SocialMetaTags.astro";

const appleTouchIcon = await getImage({
  src: logoImg,
  width: 180,
  height: 180,
  format: "png",
});

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/logo.svg" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <meta name="generator" content={Astro.generator} />
    <SocialMetaTags title={""} />
    <title>Events - Purdue Hackers</title>
  </head>
  <body>
    <main>
      <div
        class="min-h-screen overflow-hidden flex flex-col font-title dark:bg-gray-900"
      >
        <Navbar />

        <slot />

        <Footer />
      </div>
    </main>
  </body>
</html>
