---
import "../styles/global.css";

// Import fonts
import '@fontsource-variable/space-grotesk';
import '@fontsource/space-mono';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Events - Purdue Hackers</title>
	</head>
	<body>
		<slot />
	</body>
</html>
